examples/example-1.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Example Frenh Holidays","disabled":false,"info":""},{"id":"ee7966d41a4eb93a","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"05 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["6cde5e23f714597e"]]},{"id":"6cde5e23f714597e","type":"french-holidays","z":"f6f2187d.f17ca8","name":"French Holidays","academy":"Saint Pierre et Miquelon","geo":"La Réunion","x":460,"y":200,"wires":[["f02f34e5c19dc9ad"]]},{"id":"e4912846.3a1ca8","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["6cde5e23f714597e"]]},{"id":"d2fe809f.3c90d","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"day-info.isSchoolHoliday","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":460,"wires":[["c73a89b5.6630f8"],["45f8baa2ab85b321"]]},{"id":"26326493.2e010c","type":"inject","z":"f6f2187d.f17ca8","name":"Test","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":400,"wires":[["d2fe809f.3c90d"]]},{"id":"c73a89b5.6630f8","type":"debug","z":"f6f2187d.f17ca8","name":"is School Holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":440,"wires":[]},{"id":"e245c8da.585928","type":"debug","z":"f6f2187d.f17ca8","name":"is not a Weekend and not a Holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":620,"wires":[]},{"id":"e427d079.51212","type":"comment","z":"f6f2187d.f17ca8","name":"Example for usage in switch node","info":"","x":220,"y":320,"wires":[]},{"id":"16d53221440bd2e4","type":"comment","z":"f6f2187d.f17ca8","name":"every day at midnight","info":"","x":160,"y":80,"wires":[]},{"id":"c5739eb5333cc2d1","type":"comment","z":"f6f2187d.f17ca8","name":"once on Node-Red start","info":"","x":150,"y":160,"wires":[]},{"id":"f02f34e5c19dc9ad","type":"change","z":"f6f2187d.f17ca8","name":"Store Holidays in context ","rules":[{"t":"set","p":"day-info","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[[]]},{"id":"45f8baa2ab85b321","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"day-info.isPublicHoliday","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":520,"wires":[["85d147a3f1f5220f"],["c54de3c014daa901"]]},{"id":"85d147a3f1f5220f","type":"debug","z":"f6f2187d.f17ca8","name":"is Public Holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"c54de3c014daa901","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"day-info.day","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":580,"wires":[["54181726d58eb31b"],["54181726d58eb31b"],["e245c8da.585928"]]},{"id":"54181726d58eb31b","type":"debug","z":"f6f2187d.f17ca8","name":"Week-end","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":560,"wires":[]}]